

all_sequences/
bolometric-corrections/
extinction/
all_data/

# Ignore everything inside complete_sequences
/complete_sequences/*

# Keep only folders ending in v3.95_abcd
!/complete_sequences/*_v3.95_abcd/
!/complete_sequences/*_v3.95_abcd/**


*.fits.Z
*.oifits
*.pkl
*.npy
*.npz
*.tar
*.gz
*.zip

__pycache__/
*.pyc
.DS_Store